.red {
  color: red;
}

.green {
  color: green;
}

.currency-selector {
  display: inline-block;
}

.currency-option:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}


.currency-option {
  float: right;
  padding-left: 5px;
}

.rates-list {
  padding-top: 10px;
}

.flag {

  width: 75px;
  height: 50px;
}
